<app-background></app-background>

<div [ngSwitch]="modulesService.currentModule">
  <app-home       *ngSwitchCase="modulesService.modules.home"      ></app-home>
  <app-knowledge  *ngSwitchCase="modulesService.modules.knowledge" ></app-knowledge>
  <app-strategy   *ngSwitchCase="modulesService.modules.strategy"  ></app-strategy>
</div>

<app-overlay [displayed]="searchShown" (close)="closeOverlay()">
  <app-search-overlay></app-search-overlay>
</app-overlay>

<app-overlay [displayed]="modulesShown" (close)="closeOverlay()">
  <app-modules-overlay></app-modules-overlay>
</app-overlay>

