/* You can add global styles to this file, and also import other style files */
html * {
  color: rgba(255,255, 255, .7);
  font-family: Arial, serif !important;
}

.filler {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
