/* You can add global styles to this file, and also import other style files */
html * {
  color: rgba(255,255, 255, .7);
  font-family: Arial, serif !important;
  font-size: 32px;
}

.filler {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.shortcut {
  text-shadow: 0 5px 5px rgba(0,0,0,.5);
  color: rgba(196, 80, 0, 0.82);
  font-weight: 900;
  text-align: center;
}

